{% extends "base.html.twig" %}

{% block body %}
    <h1>Adding a new contact</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.company) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.email) }}
    {{ form_row(form.birth) }}
    {{ form_row(form.photo) }}

    {{ form_end(form) }}
{% endblock %}